@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}
@keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}
@-webkit-keyframes default-fade-in-out {
    from {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    89% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes default-fade-in-out {
    from {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    89% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}
@keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}
@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}
@keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}
@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.preloader-container {
    position: absolute;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}
.preloader-text {
    position: absolute;
    margin-top: 80px;
    font-size: 0.75em;
    font-style: italic;
    color: $secondary;
}
.preloader-logo {
    width: 100px;
    position: absolute;
}
.preloader-wrapper {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 8rem;
    height: 8rem;
    .spinner-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        .gap-patch {
            position: absolute;
            top: 0;
            left: 45%;
            width: 10%;
            height: 100%;
            overflow: hidden;
            border-color: inherit;
            .circle {
                left: -450%;
                width: 1000%;
            }
        }
        .circle-clipper {
            position: relative;
            display: inline-block;
            width: 50%;
            height: 100%;
            overflow: hidden;
            border-color: inherit;
            .circle {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 200%;
                height: 100%;
                border-color: inherit;
                border-style: solid;
                border-width: .1875rem;
                border-bottom-color: transparent !important;
                border-radius: 50%;
                -webkit-animation: none;
                animation: none;
            }
        }
        .circle-clipper.left {
            .circle {
                left: 0;
                border-right-color: transparent !important;
                -webkit-transform: rotate(129deg);
                transform: rotate(129deg);
            }
        }
        .circle-clipper.right {
            .circle {
                left: -100%;
                border-left-color: transparent !important;
                -webkit-transform: rotate(-129deg);
                transform: rotate(-129deg);
            }
        }
    }
    .spinner-default {
        border-color: #000;
    }
    .spinner-default-only {
        border-color: #000;
    }
}
.preloader-wrapper.active {
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
}
.preloader-wrapper.crazy {
    -webkit-animation-duration: 333ms;
    animation-duration: 333ms;
}
.active {
    .spinner-layer.spinner-default {
        -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4,0,0.2,1) infinite both,blue-fade-in-out 5332ms cubic-bezier(0.4,0,0.2,1) infinite both;
        animation: fill-unfill-rotate 5332ms cubic-bezier(0.4,0,0.2,1) infinite both,blue-fade-in-out 5332ms cubic-bezier(0.4,0,0.2,1) infinite both;
    }
    .spinner-layer.spinner-default-only {
        opacity: 1;
        -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4,0,0.2,1) infinite both;
        animation: fill-unfill-rotate 5332ms cubic-bezier(0.4,0,0.2,1) infinite both;
    }
    .circle-clipper.left {
        .circle {
            -webkit-animation: left-spin 1333ms cubic-bezier(0.4,0,0.2,1) infinite both;
            animation: left-spin 1333ms cubic-bezier(0.4,0,0.2,1) infinite both;
        }
    }
    .circle-clipper.right {
        .circle {
            -webkit-animation: right-spin 1333ms cubic-bezier(0.4,0,0.2,1) infinite both;
            animation: right-spin 1333ms cubic-bezier(0.4,0,0.2,1) infinite both;
        }
    }
}
